{{/* =====================================================
初始化 Scratch
- 用于临时存储所有 meta 信息
- 最后统一拼接输出
===================================================== */}}
{{- $scratch := newScratch }}

{{/* =====================================================
创建日期（Date）
- 如果文章有 date
- 显示“创建日期”
===================================================== */}}
{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (
printf "<span title='%s'>🎬 创建日期：%s</span>"
(.Date)
(.Date | time.Format (default "January 2, 2006" site.Params.DateFormat))
)) -}}
{{- end }}

{{/* =====================================================
最后更新时间（Lastmod）
- 由参数 ShowLastMod 控制
===================================================== */}}
{{- if (.Param "ShowLastMod") -}}
{{- if not .Lastmod.IsZero -}}
{{- $scratch.Add "meta" (slice (
printf "<span title='%s'>📅 最后更新：%s</span>"
(.Lastmod)
(.Lastmod.Format (.Site.Params.dateFormat | default "2006-01-02"))
)) -}}
{{- end -}}
{{- end }}

{{/* =====================================================
阅读时长（Reading Time）
- 由 ShowReadingTime 控制
===================================================== */}}
{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (
printf "⏲︎ 时长：%s"
(i18n "read_time" .ReadingTime
| default (printf "%d min" .ReadingTime))
)) -}}
{{- end }}

{{/* =====================================================
字数统计（Word Count）
- 由 ShowWordCount 控制
===================================================== */}}
{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (
printf "📖 字数：%s"
(i18n "words" .WordCount
| default (printf "%d 字" .WordCount))
)) -}}
{{- end }}

{{/* =====================================================
作者信息
- 内容来自 partial: author.html
- 可在该 partial 内部自行控制显示逻辑
===================================================== */}}
{{- with (partial "author.html" .) -}}
{{- $scratch.Add "meta" (slice .) -}}
{{- end }}

{{/* =====================================================
输出 meta 信息
- 使用 | 作为分隔符
- safeHTML 允许 span / emoji 正常渲染
===================================================== */}}
{{- with ($scratch.Get "meta") -}}
{{- delimit . "&nbsp;|&nbsp;" | safeHTML -}}
{{- end -}}
